# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme

# IoT Platform Database
IOT_DB_NAME=iot_platform
IOT_DB_USER=iot_user
IOT_DB_PASSWORD=changeme

# Airflow
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=changeme
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=changeme
AIRFLOW_INTERNAL_API_SECRET=changeme
AIRFLOW_API_SECRET=changeme
AIRFLOW_JWT_SECRET=changeme
