# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# IoT Platform Database
IOT_DB_NAME=iot_platform
IOT_DB_USER=iot_user
IOT_DB_PASSWORD=iot_pass

# Airflow
AIRFLOW_DB_NAME=airflow
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=admin
