# Java
target/
*.class
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/

# Env
.env

# Logs
logs/
*.log

# Docker volumes
postgres_data/

# Airflow
airflow/config/
